<!DOCTYPE html>
<html>
  <head>
    <title>Vibes Connect</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #1e1e1f;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }

      h1,
      h2,
      h3 {
        color: #9400d3;
      }

      .btn-custom {
        background-color: #9400d3;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        margin-right: 5px;
      }

      .btn-custom:hover {
        background-color: #7500a9;
      }

      table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid #9400d3;
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: #7500a9;
      }

      .btn-requested {
        background-color: #6c757d;
        color: #ffffff;
        border: none;
      }

      .btn-requested:hover {
        background-color: #5a6268;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Vibes</h1>

      <h2>Friends</h2>
      <table class="table table-dark">
        {% if friends %}
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for friend in friends %}
          <tr>
            <td>{{ friend }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <p>You have no friends yet.</p>
        {% endif %}
      </table>

      <h2>Followers</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for follower in followers %}
          <tr>
            <td>{{ follower[0] }}</td>
            <td>{{ follower[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Following</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for follow in following %}
          <tr>
            <td>{{ follow[0] }}</td>
            <td>{{ follow[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Pending Friendship Requests</h3>
      {% if pending_requests %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for request in pending_requests %}
          <tr>
            <td>{{ request[1] }}</td>
            <td>
              <form
                action="{{ url_for('accept_friendship_request') }}"
                method="post"
              >
                <input type="hidden" name="sender_id" value="{{ request[0] }}" />
                <button type="submit" class="btn btn-success btn-custom">
                  Accept
                </button>
              </form>
              <form
                action="{{ url_for('decline_friendship_request') }}"
                method="post"
              >
                <input type="hidden" name="sender_id" value="{{ request[0] }}" />
                <button type="submit" class="btn btn-danger btn-custom">
                  Decline
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No pending friendship requests.</p>
      {% endif %}

      <h3>All Premium Users</h3>
      {% if all_users %}
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in all_users %}
          <tr>
            <td>{{ user[1] }}</td>
            <td>
              {% if user[0] in friends_set %}
              <button disabled class="btn btn-secondary btn-custom">
                Friend
              </button>
              {% elif user[0] in pending_requests %}
              <button disabled class="btn btn-warning btn-custom">
                Requested
              </button>
              {% else %}
              <form
                action="{{ url_for('send_friendship_request') }}"
                method="post"
                class="friend-request-form"
                data-user-id="{{ user[0] }}"
              >
                <input type="hidden" name="friend_id" value="{{ user[0] }}" />
                <button type="submit" class="btn btn-primary btn-custom">
                  Request
                </button>
              </form>
              {% endif %}

              {% if user[0] in following_set %}
              <form action="{{ url_for('follows') }}" method="post">
                <input
                  type="hidden"
                  name="user_id_to_unfollow"
                  value="{{ user[0] }}"
                />
                <button type="submit" class="btn btn-danger btn-custom">
                  Unfollow
                </button>
              </form>
              {% else %}
              <form action="{{ url_for('follows') }}" method="post">
                <input
                  type="hidden"
                  name="user_id_to_follow"
                  value="{{ user[0] }}"
                />
                <button type="submit" class="btn btn-success btn-custom">
                  Follow
                </button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No premium users found.</p>
      {% endif %}
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const requestForms = document.querySelectorAll('.friend-request-form');

        requestForms.forEach(form => {
          form.addEventListener('submit', function (event) {
            event.preventDefault();

            const userId = form.getAttribute('data-user-id');
            const button = form.querySelector('button');

            fetch('{{ url_for("send_friendship_request") }}', {
              method: 'POST',
              body: new FormData(form),
            })
              .then(response => response.text())
              .then(data => {
                // Change the button to "Requested"
                button.classList.remove('btn-primary');
                button.classList.add('btn-warning');
                button.classList.add('btn-requested');
                button.textContent = 'Requested';
                button.disabled = true;
              })
              .catch(error => {
                console.error('Error:', error);
              });
          });
        });
      });
    </script>
  </body>
</html>
