<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ url_for('static', filename='Icon/favicon-16x16.png') }}"
  />
    <title>Home page</title>
  </head>

  <body>
    <div class="top-block">
      <div class="left-block">
        <div class="button-block">
          <button
            class="btn"
            type="button"
            onclick="window.location.href='/join';"
          >
            Sign Up
          </button>
        </div>
        <div class="button-block">
          <button
            class="btn"
            type="button"
            onclick="window.location.href='/login';"
          >
            Login
          </button>
        </div>
      </div>
      <div class="right-block">
        <h2 class="good-vibes-heading">Good Vibes</h2>
      </div>
    </div>
    <div class="container">
      <div class="div-header">
        <h1>Top Songs</h1>
        <hr />
      </div>

      <div class="div-header">
        <h1>Top Artists</h1>
        <hr />
      </div>

      <div class="div-header">
        <h1>Top Albums</h1>
        <hr />
      </div>
    </div>
  </body>
</html>
