<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='Icon/favicon-16x16.png') }}"
    />
    <title>Join</title>
  </head>

  <body>
    <div class="div-header">
      <h1>Join Us</h1>
      <form method="post" action="{{ url_for('join') }}">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" name="city" required />
        </div>
        <div class="form-group">
          <label for="country">Country:</label>
          <input type="text" name="country" required />
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" name="phone" required />
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" name="age" min="9" mux="120" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" required />
        </div>
        <button type="submit" class="submit-btn">Join</button>
      </form>
    </div>
  </body>
</html>
