<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='Icon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='Icon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='Icon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='Icon/site.webmanifest') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Participants</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>

  <body>
    <div class="div-header">
      <h1>Songs List</h1>
      <table style="width: 100%">
        <tr>
          <th>Song ID</th>
          <th>Artist ID</th>
          <th>Album ID</th>
          <th>name</th>
          <th>file</th>
          <th>lyrics</th>
          <th>release date</th>
          <th>age rating</th>
          <th>genre</th>
          <th>duration</th>
          <th>is_limited</th>
        </tr>
        {% for songs in song_data %}
        <tr>
          <td>{{ songs[0] }}</td>
          <td>{{ songs[1] }}</td>
          <td>{{ songs[2] }}</td>
          <td>{{ songs[3] }}</td>
          <td>{{ songs[4] }}</td>
          <td>{{ songs[5] }}</td>
          <td>{{ songs[6] }}</td>
          <td>{{ songs[7] }}</td>
          <td>{{ songs[8] }}</td>
          <td>{{ songs[9] }}</td>
        </tr>
        {% endfor %}
      </table>

      <h1>Users List</h1>
      <table style="width: 100%">
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Country</th>
          <th>Phone Number</th>
          <th>Age</th>
          <th>Balance</th>
          <th>Is Artist</th>
          <th>Is Premium</th>
        </tr>
        {% for participant in data %}
        <tr>
          <td>{{ participant[0] }}</td>
          <td>{{ participant[1] }}</td>
          <td>{{ participant[2] }}</td>
          <td>{{ participant[3] }}</td>
          <td>{{ participant[4] }}</td>
          <td>{{ participant[5] }}</td>
          <td>{{ participant[6] }}</td>
          <td>{{ participant[7] }}</td>
          <td>{{ participant[8] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
